.search-area {
  color: #333;
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
  position: relative;
}

.search-area input {
  box-sizing: border-box;
  margin: 0;
  width: calc(100% - 50px);
  padding: 8px;
  background-color: #eee;
  border: none;
  border-radius: 2px;
  box-shadow: none;
  outline: none;
}

.search-area button {
  position: absolute;
  right: 0;
  padding: 8px 10px;
  background: #FF5722;
  color: #fff;
  border-radius: 2px;
  cursor: pointer;
  outline: none;
}